.add-expense {
  position: fixed;
  z-index: 999;
  bottom: 12vh;
  right: 10px;
  box-shadow: none;
  background-color: rgb(60, 195, 141);
  line-height: 1.5rem;
  padding: 0.5rem;
  border-color: rbga(0, 0, 0, 0);
  border-radius: 20px;
}
main {
  position: relative;
  top: 10vh;
  height: 80vh;
  overflow: scroll;
}
.add-expense span {
  vertical-align: middle;
  color: #fff;
}
